<!-- Section with all students -->
<section class="cardlayout">
    <ul>
        <!-- Liquid for loop for each person in the database -->
        {% for person in persons %}
        {% if person.mugshot %}
        {% include 'partials/calc.liquid' %}
        {% include 'partials/vars.liquid' %}
        <!-- Individual student card --> 
        <li class="{{ person.fav_season }}">
        <figure>
            <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}"  width="400" height="300" alt="mugshot">
            <p style="border-radius: {{ person.fav_border_radius }}px;">
                Favo border radius
            </p>
        </figure>
        <h3>{{ person.name | strip_html }}</h3>
        <article>
            <div class="clouds">
                {% if age %}
                    <p class="age">{{ age }}
                    </p>
                {% endif %}

                {% if person.residency %}
                    <p>{{ person.residency }}</p>
                {% endif %}

                {% if person.fav_season == "Zomer" %}
                    <svg width="80" height="78" viewBox="0 0 80 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M39.998 0C41.378 0 42.498 1.09203 42.498 2.43756V7.31268C42.498 7.95916 42.2346 8.57917 41.7658 9.0363C41.2969 9.49343 40.661 9.75024 39.998 9.75024C39.335 9.75024 38.6991 9.49343 38.2302 9.0363C37.7614 8.57917 37.498 7.95916 37.498 7.31268V2.43756C37.498 1.09203 38.618 0 39.998 0ZM60.044 39.0907C60.044 49.8335 51.112 58.5424 40.094 58.5424C29.074 58.5424 20.142 49.8335 20.142 39.0907C20.142 28.3459 29.074 19.637 40.094 19.637C51.112 19.637 60.044 28.3459 60.044 39.0907ZM77.5 41.4366C78.163 41.4366 78.7989 41.1798 79.2678 40.7226C79.7366 40.2655 80 39.6455 80 38.999C80 38.3525 79.7366 37.7325 79.2678 37.2754C78.7989 36.8183 78.163 36.5615 77.5 36.5615H72.5C71.837 36.5615 71.2011 36.8183 70.7322 37.2754C70.2634 37.7325 70 38.3525 70 38.999C70 39.6455 70.2634 40.2655 70.7322 40.7226C71.2011 41.1798 71.837 41.4366 72.5 41.4366H77.5ZM39.998 68.2498C41.378 68.2498 42.498 69.3418 42.498 70.6873V75.5624C42.498 76.2089 42.2346 76.8289 41.7658 77.2861C41.2969 77.7432 40.661 78 39.998 78C39.335 78 38.6991 77.7432 38.2302 77.2861C37.7614 76.8289 37.498 76.2089 37.498 75.5624V70.6873C37.498 69.3418 38.618 68.2498 39.998 68.2498ZM7.5 41.4366C8.16304 41.4366 8.79893 41.1798 9.26777 40.7226C9.73661 40.2655 10 39.6455 10 38.999C10 38.3525 9.73661 37.7325 9.26777 37.2754C8.79893 36.8183 8.16304 36.5615 7.5 36.5615H2.5C1.83696 36.5615 1.20107 36.8183 0.732233 37.2754C0.263392 37.7325 0 38.3525 0 38.999C0 39.6455 0.263392 40.2655 0.732233 40.7226C1.20107 41.1798 1.83696 41.4366 2.5 41.4366H7.5ZM10.732 10.462C10.9642 10.2356 11.2398 10.056 11.5431 9.93345C11.8465 9.81091 12.1716 9.74784 12.5 9.74784C12.8284 9.74784 13.1535 9.81091 13.4569 9.93345C13.7602 10.056 14.0358 10.2356 14.268 10.462L19.268 15.3371C19.5002 15.5635 19.6843 15.8323 19.81 16.128C19.9357 16.4238 20.0003 16.7408 20.0003 17.061C20.0003 17.3811 19.9357 17.6981 19.81 17.9939C19.6843 18.2897 19.5002 18.5584 19.268 18.7848C19.0358 19.0112 18.7602 19.1908 18.4568 19.3133C18.1535 19.4358 17.8283 19.4989 17.5 19.4989C17.1717 19.4989 16.8465 19.4358 16.5432 19.3133C16.2398 19.1908 15.9642 19.0112 15.732 18.7848L10.732 13.9097C10.4998 13.6833 10.3156 13.4146 10.1899 13.1188C10.0642 12.823 9.99953 12.506 9.99953 12.1859C9.99953 11.8657 10.0642 11.5487 10.1899 11.2529C10.3156 10.9571 10.4998 10.6884 10.732 10.462ZM14.268 67.538C13.7991 67.9952 13.1631 68.252 12.5 68.252C11.8369 68.252 11.2009 67.9952 10.732 67.538C10.2631 67.0808 9.99967 66.4607 9.99967 65.8141C9.99967 65.1676 10.2631 64.5475 10.732 64.0903L15.732 59.2152C15.9642 58.9888 16.2398 58.8092 16.5432 58.6867C16.8465 58.5642 17.1717 58.5011 17.5 58.5011C17.8283 58.5011 18.1535 58.5642 18.4568 58.6867C18.7602 58.8092 19.0358 58.9888 19.268 59.2152C19.5002 59.4416 19.6843 59.7103 19.81 60.0061C19.9357 60.3019 20.0003 60.6189 20.0003 60.939C20.0003 61.2592 19.9357 61.5762 19.81 61.872C19.6843 62.1677 19.5002 62.4365 19.268 62.6629L14.268 67.538ZM69.268 10.462C68.7992 10.0053 68.1637 9.74881 67.501 9.74881C66.8383 9.74881 66.2028 10.0053 65.734 10.462L60.734 15.3371C60.2651 15.7943 60.0017 16.4144 60.0017 17.061C60.0017 17.7075 60.2651 18.3276 60.734 18.7848C61.2029 19.242 61.8389 19.4989 62.502 19.4989C63.1651 19.4989 63.8011 19.242 64.27 18.7848L69.27 13.9097C69.5022 13.6833 69.6864 13.4146 69.8121 13.1188C69.9378 12.823 70.0025 12.506 70.0025 12.1859C70.0025 11.8657 69.9378 11.5487 69.8121 11.2529C69.6864 10.9571 69.5002 10.6884 69.268 10.462ZM65.734 67.538C66.2029 67.9952 66.8389 68.252 67.502 68.252C68.1651 68.252 68.8011 67.9952 69.27 67.538C69.7389 67.0808 70.0023 66.4607 70.0023 65.8141C70.0023 65.1676 69.7389 64.5475 69.27 64.0903L64.27 59.2152C64.0378 58.9888 63.7622 58.8092 63.4588 58.6867C63.1555 58.5642 62.8303 58.5011 62.502 58.5011C62.1737 58.5011 61.8485 58.5642 61.5452 58.6867C61.2418 58.8092 60.9662 58.9888 60.734 59.2152C60.5018 59.4416 60.3176 59.7103 60.192 60.0061C60.0663 60.3019 60.0017 60.6189 60.0017 60.939C60.0017 61.2592 60.0663 61.5762 60.192 61.872C60.3176 62.1677 60.5018 62.4365 60.734 62.6629L65.734 67.538Z" fill="#FFC700"/>
                    </svg>
                {% endif %}

                {% if person.fav_season == "Lente" %}
                <svg width="107" height="103" viewBox="0 0 107 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M68.9742 15.5896C70.2625 16.0842 70.9168 17.505 70.4346 18.7612L68.6875 23.3125C68.4558 23.9161 67.9877 24.4005 67.3862 24.6592C66.7847 24.918 66.099 24.9299 65.48 24.6923C64.861 24.4546 64.3594 23.987 64.0855 23.3922C63.8116 22.7974 63.7879 22.1242 64.0196 21.5207L65.7667 16.9694C66.2489 15.7132 67.6858 15.0951 68.9742 15.5896ZM73.6799 59.2677C69.83 69.297 58.3703 74.2266 48.0841 70.2781C37.796 66.3289 32.5783 54.9974 36.4281 44.9682C40.2787 34.937 51.7385 30.0075 62.0265 33.9567C72.3127 37.9052 77.5304 49.2366 73.6799 59.2677ZM44.5156 79.3062C45.804 79.8008 46.4582 81.2217 45.976 82.4778L44.229 87.0291C43.9973 87.6327 43.5292 88.1171 42.9277 88.3759C42.3261 88.6346 41.6405 88.6465 41.0215 88.4089C40.4025 88.1713 39.9008 87.7036 39.627 87.1089C39.3531 86.5141 39.3294 85.8409 39.5611 85.2373L41.3081 80.686C41.7903 79.4298 43.2273 78.8117 44.5156 79.3062ZM23.7851 42.6278C24.4041 42.8654 25.0898 42.8535 25.6913 42.5947C26.2929 42.336 26.7609 41.8516 26.9926 41.248C27.2243 40.6445 27.2006 39.9713 26.9267 39.3765C26.6528 38.7817 26.1512 38.3141 25.5322 38.0764L20.8643 36.2846C20.2453 36.047 19.5596 36.0589 18.9581 36.3176C18.3566 36.5764 17.8885 37.0608 17.6568 37.6643C17.4251 38.2679 17.4488 38.9411 17.7227 39.5359C17.9966 40.1307 18.4982 40.5983 19.1172 40.8359L23.7851 42.6278ZM37.9027 14.8687C38.2006 14.7406 38.5223 14.6717 38.8494 14.666C39.1766 14.6603 39.5027 14.7179 39.8093 14.8356C40.1158 14.9533 40.3968 15.1287 40.636 15.3518C40.8753 15.5749 41.0683 15.8414 41.2039 16.1359L44.1247 22.4791C44.2603 22.7736 44.336 23.0905 44.3473 23.4117C44.3586 23.7329 44.3054 24.052 44.1906 24.3509C44.0759 24.6498 43.9019 24.9225 43.6786 25.1536C43.4553 25.3848 43.187 25.5696 42.8892 25.6978C42.5913 25.8259 42.2696 25.8948 41.9425 25.9005C41.6154 25.9061 41.2892 25.8485 40.9827 25.7308C40.6762 25.6131 40.3952 25.4377 40.1559 25.2147C39.9166 24.9916 39.7237 24.7251 39.588 24.4306L36.6672 18.0874C36.5315 17.7929 36.4559 17.476 36.4445 17.1548C36.4332 16.8336 36.4864 16.5145 36.6012 16.2156C36.7159 15.9167 36.8899 15.6439 37.1132 15.4128C37.3366 15.1817 37.6048 14.9969 37.9027 14.8687ZM20.7497 69.4209C20.1481 69.6797 19.4623 69.6916 18.8432 69.454C18.2241 69.2163 17.7225 68.7486 17.4485 68.1538C17.1746 67.5589 17.1509 66.8856 17.3826 66.282C17.6143 65.6783 18.0825 65.1939 18.6841 64.9351L25.0991 62.1756C25.397 62.0475 25.7186 61.9786 26.0458 61.9729C26.3729 61.9673 26.699 62.0249 27.0055 62.1426C27.3121 62.2602 27.593 62.4356 27.8323 62.6587C28.0716 62.8818 28.2646 63.1482 28.4002 63.4428C28.5358 63.7373 28.6115 64.0542 28.6228 64.3754C28.6341 64.6966 28.5809 65.0157 28.4661 65.3146C28.3514 65.6135 28.1774 65.8862 27.9541 66.1173C27.7308 66.3484 27.4626 66.5333 27.1647 66.6615L20.7497 69.4209ZM92.5508 35.8462C92.2768 35.2518 91.7754 34.7846 91.1568 34.5471C90.5381 34.3096 89.8528 34.3214 89.2515 34.5797L82.8365 37.3392C82.2349 37.598 81.7668 38.0825 81.5351 38.6861C81.3034 39.2897 81.3271 39.963 81.601 40.5579C81.8749 41.1527 82.3766 41.6204 82.9957 41.8581C83.6148 42.0957 84.3005 42.0838 84.9021 41.8251L91.3171 39.0656C91.615 38.9375 91.8833 38.7526 92.1067 38.5215C92.33 38.2904 92.504 38.0176 92.6187 37.7187C92.7335 37.4198 92.7867 37.1007 92.7753 36.7795C92.764 36.4583 92.6865 36.1407 92.5508 35.8462ZM68.7973 87.8647C69.0713 88.4596 69.5729 88.9273 70.192 89.1649C70.8111 89.4026 71.4969 89.3907 72.0985 89.1319C72.7001 88.8731 73.1682 88.3886 73.3999 87.785C73.6316 87.1814 73.6079 86.5081 73.334 85.9132L70.4132 79.5701C70.2776 79.2755 70.0846 79.0091 69.8453 78.786C69.606 78.5629 69.3251 78.3875 69.0185 78.2698C68.712 78.1522 68.3858 78.0945 68.0587 78.1002C67.7316 78.1059 67.4099 78.1747 67.1121 78.3029C66.8142 78.431 66.5459 78.6159 66.3226 78.847C66.0993 79.0781 65.9253 79.3509 65.8106 79.6498C65.6959 79.9486 65.6426 80.2678 65.654 80.5889C65.6653 80.9101 65.7409 81.227 65.8765 81.5216L68.7973 87.8647Z" fill="#FFC700"/>
                    <g filter="url(#filter0_d_133_8116)">
                    <path d="M64.4369 6.15704C74.973 3.33407 85.5593 8.67624 88.0818 18.0894C88.8846 21.0851 88.7713 24.1321 87.9077 26.9854C92.5811 29.0047 96.2066 32.8095 97.5368 37.7739C100.002 46.9754 93.6513 56.6715 83.3522 59.4312C75.2133 61.612 67.0448 58.808 62.7591 52.9949C60.4207 55.4386 57.315 57.3339 53.6841 58.3069C47.205 60.0429 40.7045 58.4035 36.4392 54.5261C34.2212 56.5589 31.4313 58.1326 28.2328 58.9897C18.5954 61.572 8.91258 56.6851 6.60545 48.0747C4.29853 39.4645 10.2407 30.3916 19.8781 27.8093C21.3439 27.4166 22.8106 27.197 24.2524 27.1367C25.934 21.5291 30.7942 16.7337 37.3796 14.969C42.3528 13.6365 47.3382 14.2928 51.3158 16.4233C53.7842 11.6432 58.4606 7.75837 64.4369 6.15704Z" fill="white"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_133_8116" x="5.1084" y="4.40234" width="99.9595" height="62.7666" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="3" dy="3"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_133_8116"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_133_8116" result="shape"/>
                    </filter>
                    </defs>
                </svg>
                {% endif %}

                {% if person.fav_season == "Herfst" %}
                <svg width="106" height="109" viewBox="0 0 106 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="21" y="90" width="33" height="5" rx="2.5" transform="rotate(-90 21 90)" fill="#0084FF"/>
                    <rect x="31" y="99" width="33" height="5" rx="2.5" transform="rotate(-90 31 99)" fill="#0084FF"/>
                    <rect x="49" y="109" width="33" height="5" rx="2.5" transform="rotate(-90 49 109)" fill="#0084FF"/>
                    <rect x="63" y="107" width="33" height="5" rx="2.5" transform="rotate(-90 63 107)" fill="#0084FF"/>
                    <rect x="78" y="86" width="33" height="5" rx="2.5" transform="rotate(-90 78 86)" fill="#0084FF"/>
                    <rect x="42" y="89" width="33" height="5" rx="2.5" transform="rotate(-90 42 89)" fill="#0084FF"/>
                    <rect x="55" y="82" width="33" height="6" rx="3" transform="rotate(-90 55 82)" fill="#0084FF"/>
                    <rect x="70" y="85" width="33" height="3" rx="1.5" transform="rotate(-90 70 85)" fill="#0084FF"/>
                    <g filter="url(#filter0_d_133_8609)">
                    <path d="M64.4369 6.15704C74.973 3.33407 85.5593 8.67624 88.0818 18.0894C88.8846 21.0851 88.7713 24.1321 87.9077 26.9854C92.5811 29.0047 96.2066 32.8095 97.5368 37.7739C100.002 46.9754 93.6513 56.6715 83.3522 59.4312C75.2133 61.612 67.0448 58.808 62.7591 52.9949C60.4207 55.4386 57.315 57.3339 53.6841 58.3069C47.205 60.0429 40.7045 58.4035 36.4392 54.5261C34.2212 56.5589 31.4313 58.1326 28.2328 58.9897C18.5954 61.572 8.91258 56.6851 6.60545 48.0747C4.29853 39.4645 10.2407 30.3916 19.8781 27.8093C21.3439 27.4166 22.8106 27.197 24.2524 27.1367C25.934 21.5291 30.7942 16.7337 37.3796 14.969C42.3528 13.6365 47.3382 14.2928 51.3158 16.4233C53.7842 11.6432 58.4606 7.75837 64.4369 6.15704Z" fill="white"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_133_8609" x="5.1084" y="4.40234" width="99.9595" height="62.7665" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="3" dy="3"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_133_8609"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_133_8609" result="shape"/>
                    </filter>
                    </defs>
                </svg>

                {% endif %}

                {% if person.fav_season == "Winter" %}
                <svg width="105" height="89" viewBox="0 0 105 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_133_8614)">
                    <path d="M64.262 6.15711C74.7699 3.33391 85.3275 8.67629 87.8431 18.0897C88.6437 21.0855 88.5312 24.1319 87.6699 26.9852C92.3307 29.0044 95.9464 32.8097 97.273 37.7741C99.7315 46.9755 93.398 56.6719 83.1268 59.4315C75.0098 61.6123 66.8641 58.8072 62.59 52.9939C60.2578 55.4381 57.1601 57.3337 53.5385 58.3067C47.0773 60.0426 40.5956 58.403 36.3418 54.526C34.1297 56.5591 31.3463 58.1323 28.1561 58.9894C18.5448 61.5716 8.88841 56.6846 6.58752 48.0743C4.28698 39.4642 10.2128 30.3914 19.8239 27.8091C21.2861 27.4162 22.7495 27.1964 24.1878 27.1361C25.8649 21.5288 30.7112 16.7338 37.2785 14.9692C42.238 13.6367 47.2098 14.2923 51.1766 16.4226C53.6383 11.6426 58.3022 7.75847 64.262 6.15711Z" fill="white"/>
                    </g>
                    <circle cx="13.1919" cy="78.4999" r="3.5" fill="#F2F5FF"/>
                    <circle cx="64.1919" cy="85.4999" r="3.5" fill="#F2F5FF"/>
                    <circle cx="78.1919" cy="71.4999" r="3.5" fill="#F2F5FF"/>
                    <circle cx="47.1919" cy="73.4999" r="3.5" fill="#F2F5FF"/>
                    <circle cx="57.1919" cy="64.4999" r="3.5" fill="#F2F5FF"/>
                    <circle cx="44.1919" cy="64.4999" r="3.5" fill="#F2F5FF"/>
                    <circle cx="31.1919" cy="67.4999" r="3.5" fill="#F2F5FF"/>
                    <defs>
                    <filter id="filter0_d_133_8614" x="5.0918" y="4.40234" width="99.7109" height="62.7667" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="3" dy="3"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_133_8614"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_133_8614" result="shape"/>
                    </filter>
                    </defs>
                </svg>
                {% endif %}
            </div>
            <!-- linkje met alleen de voornaam -->
            <a href="/student/{{ person.id }}">Meer over {{ person.name | split: " " | first}}</a>

            {% if person.fav_animal %}
                <audio src="/assets/animalsound.mp3" class="animalsound"></audio>
                <img class="favanimal" src="/assets/{{ person.fav_animal | downcase }}.svg" alt="">
            {% endif %}

        </article>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

{% if persons.size > 8 %}
    <a href="/students">Bekijk alle studenten</a>
{% endif %}
</section>