{% render 'partials/head.liquid', title: 'Squad page'  %}
<main>
<h2>Shop hier onze studenten</h2>

<!-- Section with all students -->
<section>
  <ul>

    <!-- Liquid for loop for each person in the database -->

    {% for person in persons limit: 8 %}

    <!-- Calculate age with liquid -->
    {% assign dob = person.birthdate | date: "%Y-%m-%d" %}
    {% assign current_year = "now" | date: "%Y" %}
    {% assign birth_year = dob | date: "%Y" %}
    {% assign age = current_year | minus: birth_year %}
    {% assign now_month_day = "now" | date: "%m%d" | plus: 0 %}
    {% assign dob_month_day = dob | date: "%m%d" | plus: 0 %}

    <!-- Check for examptions in calculation -->
    {% if now_month_day < dob_month_day %}
      {% assign age = age | minus: 1 %}
    {% endif %}

    <!-- Individual student card --> 
    <li>
      <figure>

        <img src="https://fdnd.directus.app/assets/{{ person.mugshot.id }}" alt="">

        {% if person.is_bold %}
        <p>
        Kaal
        </p>
        {% endif %}
      </figure>
      <article>
        <div>
          {% if age %}
          <p class="age">{{ age | strip_html }}</p>
          {% endif %}
          {% if person.residency %}
          <p>{{ person.residency }}</p>
          {% endif %}
          {% if person.fav_property %}
          <p>{{ person.fav_property | strip_html }}</p>
          {% endif %}
        </div>
        <h3>{{ person.name | strip_html }}</h3>
        <p>2,95 <span>12,95</span> </p>
        <a href="/student/{{ person.id }}">Meer over {{ person.name }}</a>
      </article>
    </li>
    {% endfor %}
  </ul>

  {% if persons.size > 8 %}
      <a href="/all" class="view-more">Bekijk alle studenten</a>
  {% endif %}

</section>
</main>

{% render 'partials/foot.liquid', squads: squads %}